<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated roverml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="roverml.presentation.RovermlModelWizardID"
            name="%_UI_RovermlModelWizard_label"
            class="roverml.presentation.RovermlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RovermlModelFile.gif">
         <description>%_UI_RovermlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated roverml -->
      <editor
            id="roverml.presentation.RovermlEditorID"
            name="%_UI_RovermlEditor_label"
            icon="icons/full/obj16/RovermlModelFile.gif"
            extensions="roverml"
            class="roverml.presentation.RovermlEditor"
            contributorClass="roverml.presentation.RovermlActionBarContributor">
      </editor>
   </extension>

</plugin>
