<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated roverml -->
      <package
            uri="http://www.example.org/roverml"
            class="roverml.RovermlPackage"
            genModel="model/roverml.genmodel"/>
   </extension>

</plugin>
